
/*
 *  - To keep the footer at bottom, margin-top and margin-bottom are avoided
 *    except in the container and the footer/push div themselves.
 *
 *  - Margin/padding are also set to 0 at the start and controlled in each
 *    particular element.
 *
 *  - This style should be (at least) compatible with:
 *    IE6+, Opera, Webkit-based browsers such as Chrome, Firefox...
 */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #EEEDE2 url('/images/bgshade.png') top repeat-y;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

a {
    color: #7DA721;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #65822A;
    text-decoration: underline;
}

blockquote {
    background-color: #eee;
    border-left: 2px solid #ccc;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Main wrapper */

.container {
    background: #FFF;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 740px;

    /* Keep footer at bottom */
    height: auto !important;
    height: 100%;
    margin: 0 auto -151px;
    min-height: 100%;
}

/* Header and subtitle */

.header {
    background-color: #8EB73C;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
    padding-top: 5px;
}

.header a {
    color: #FFF;
    font-size: 24px;
    padding-left: 10px;
}

.header .subtitle p {
    color: #EEE;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding-left: 15px;
}

/* Content */

.content {
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    margin: 0 auto;
    text-align: justify;
    width: 600px;
}

.content img {
    padding: 10px;
}

/* Post title as link */

.content h1 a { color: #AD4A4A; }

/* Used both post title and archives title */

.content h1 {
    color: #AD4A4A;
    border-bottom: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
}

.content .date {
    color: #aaa;
    font-size: 1em;
    padding-bottom: 10px;
    padding-top: 2px;
}

/* Used in internal post sections */

.content h2 {
    color: #998E82;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content p {
    padding-bottom: 5px;
    padding-top: 5px;
}

.content li {
    list-style-position: inside;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* Pagination links */

.leftright {
    font-size: 12px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.leftright a {
    color: #888;
    font-weight: bold;
    text-decoration: none;
}

.leftright a:hover {
    color: #65822A;
    text-decoration: underline;
}

.leftright .left {
    display: inline;
}

.leftright .right {
    display: inline;
    padding-left: 2em;
}

/* 3-column footer */

.footer {
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    color: #3F3F3F;
    font-size: 12px;
    position: relative;
    margin: 0em auto;
    width: 640px;
}

.footer, .push {
    clear: both;
    height: 150px;
}

.footer a {
    color: #8EB73C;
}

.footer a:hover {
    color: #65822A;
    text-decoration: none;
}

.footer h1 {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.footer div {
    float: left;
    margin-left: 20px;
    width: 180px;
}

.footer li {
    margin-left: 20px;
    text-align: left;
}

/* Archives */

.archives table {
    line-height: 1em;
    width: 100%;
}

.archives table .postlink {
    padding-left: 20px;
}

.archives table .postdate {
    color: #aaa;
    text-align: right;
}

